@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* 
* Hi, thank you for checking out my CSS. Layout is currently Rev 2.
* Plan is to do more interesting ones as I feel more comfortable doing things.
*
* For instance was thinking of swapping to a 3 column affair, with the title running
* vertically in the first column. Second column is the projects, third the blurb
*
* I'd like to add some animations and transitions, and a light and dark theme.
*/

:root {
    font-size: 1.25rem;
    --marginTop: 0.5rem;

    --pinky-color: rgba(216, 81, 201, 0.632);
    --lightcoral-color: lightcoral;
    --projects-border-color: green;
}

* {
    margin: 0;
}

body {
    /* background-color: whitesmoke; */
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ac2e2e' fill-opacity='0.24'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header,
.blurb,
.projectsDiv {
    background-color: rgba(0, 0, 0, 0.1);
    border: 5px solid;
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    box-sizing: border-box;
    border-radius: 10px;
}

.blurb,
.projectsDiv {
    padding: 10px 20px;
    margin-top: 2rem;
    font-family: "Source Sans Pro", sans-serif;
}

.header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: var(--lightcoral-color);
}

.header > h1 {
    font-family: "Black Ops One", cursive;
    /* scale the font from size used on mobile to "desktop" */
    font-size: min(max(2.5rem, 8vw), 3rem);
}

.blurb {
    border-color: var(--pinky-color);
}

.projectsDiv {
    border-color: rgba(0, 0, 0, 0.7);
}

.frontEndMentorChallenges,
.freecodeCampProjects,
.completeWebDev2020Projects,
.vanillaJSProjects {
    margin-top: var(--marginTop);
}

.projectsSection__title {
    font-weight: 600;
    font-size: 1.8rem;
}

/* .frontEndMentorChallenges {} */

.frontEndMentorChallenges .newbieChallenges {
    margin-left: 1rem;
}

.newbieChallenges > h3,
.responsiveProjects > h3 {
    font-weight: 600;
    font-size: 1.3rem;
}

/* .freecodeCampProjects {} */
/* .completeWebDev2020Projects {} */
/* .vanillaJSProjects {} */

footer {
    margin-top: 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

footer * {
    margin-top: 1rem;
}

footer > a {
    display: block;
}

.alignedHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* .alignedHeader img {
    width: 100%; 
    height: 100%;

} */

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row: 1/2;
}

.card__content {
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    align-self: end;
    margin: 0.5rem; /*.5rem 2rem;*/
    padding: 0.5rem;

    box-shadow: 0 0.25rem 1rem rgba(0 0 0 / 0.1);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.25rem;
}

.projectsDiv > * {
    margin-bottom: 1rem;
}

.project-card {
    border: 3px solid var(--projects-border-color);
    border-radius: 5%;
    aspect-ratio: 1 / 1.5;
    overflow: hidden;
    /* display: inline-bloc; */
}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
}

.card__techUsed {
    list-style: none;
    display: flex;
    /* align-content: space-evenly; */
    justify-content: space-evenly;
    align-items: center;

    /* font-size: 0.625rem; */
}

/* .card__techUsed > li {
    margin: 0;
} */

.card__techUsed img {
    width: 100%;
    height: 100%;
}

.card__title {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.1;
    color: darkred;
    text-align: center;
}

.card__description {
    font-size: 0.625rem;
    line-height: 1.2;
}

@media (min-width: 38em) {
    .card__img {
        aspect-ratio: 1 / 1;
    }

    .project-card.featured {
        grid-row: span 2;
        grid-column: span 2;
    }

    .project-card.featured .card__img {
        aspect-ratio: 1 / 1.33;
    }

    .project-card.featured .card__title {
        font-size: 1.25rem;
    }
}
