# ---> Eleventy

#_site

package-lock.json
css/main.css.map

# dependency directories
node_modules/

# config
.env*

# caches
.cache
.sass-cache/

# eleventy gulp build
/dist

*.log
npm-debug.*
*.scssc
*.swp
Thumbs.db

dist
src/_includes/css


# ---> macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

