@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    /* background-repeat: no-repeat;
    background-size: contain; */
    
    color: white;
    margin: 2rem 4rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 225px;
}

.middleSection {
    display: flex;
    margin: 5.5rem 0rem 0rem 0rem;
}

.siteBlurb {
    margin: 3rem;
    /* line-height: 2rem;
    font-weight: 400; */
}

.siteBlurb h1 {
    margin-right: 2em;
}

/* .siteBlurb p {
    line-height: 1.5rem;
} */

.socialButtonsSection {
    display: block;
    text-align: right;
}

.socialButtonsSection i {
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: 1em;
}

.circleIcon {
    background: transparent;
    border: 1px solid #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    /* padding: 5px; */

    /* border: 2px solid #fff;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    position: relative;
    left: 8px;
    color: transparent; */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Formating for Mobile devices. Sample to match is 375z800 */
@media screen and (max-width: 375px) {
    body {
        background-image: url("../images/bg-mobile.svg");
        background-repeat: no-repeat;
        
        color: white;
        margin: 2em 4em;
    }
}