@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

/*
 * Sizings
 *
 * Desktop: 1440x1832
 * Tablet: 768x1781
 * Mobile: 375x1945
*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
}

body {
    min-height: 100vh;

    font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1400px) {
}
