article {
	padding: 1.5rem;

	* + * {
		margin-top: 0.75rem;
	}

	a {
		display: block;
	}

	img {
		height: 200px;
		object-fit: cover;
	}

	/* Size between: 327px → 384px */
	width: var(--sizing-article-width);

	.author-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 1.5rem;

		img {
			margin-top: 0;
			width: 2rem;
			height: 2rem;
		}

		p {
			margin-top: 0;
			margin-left: 0.75rem;
		}
	}

	.category {
		margin-top: 1.5rem;
		padding: 0.25rem 0.75rem;
		width: -moz-fit-content;
		width: fit-content;
	}
}
