@font-face {
	font-family: 'YoungSerif';
	src: url('../fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
	font-family: 'Outfit';
	src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf');
}

body,
h3 {
	font-family: var(--ff-outfit);
	font-size: var(--fs-16);
	font-weight: var(--fw400);

	line-height: var(--lh-150);
}

h1,
h2 {
	font-weight: var(--fw-400);
	font-family: var(--ff-young);

	line-height: var(--lh-100);
}

h1 {
	font-size: var(--fs-title);
}

h2 {
	font-size: var(--fs-28);
}

h3 {
	font-weight: var(--fw-600);
	line-height: var(--lh-100);
	font-size: var(--fs-20);
}

li > span {
	font-weight: var(--fw-700);
}
