@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    /* primary */
    font-size: 20px;
    --site-blue: hsl(223, 87%, 63%); 
    /* secondary */
    --site-paleBlue: hsl(223, 100%, 88%);
    --site-lightRed: hsl(354, 100%, 66%);
    /* neutral */
    --site-gray: hsl(0, 0%, 59%);
    --site-veryDarkBlue: hsl(209, 33%, 12%);
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    /* font-size: 20px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    margin-top: 4.2rem;
}

.logoSection {
    display: flex;
    justify-content: center;
}

.logoSection img {
    /* text-align: center; */
    width: 66%;
    /* height: auto; */
}

.titleSection {
    margin-top: 2rem;
}

.titleSection p {
    text-align: center;
    /* display: flex;
    align-items: center; */
}

.titleSection .line1 {
    font-weight: 300;
    color: var(--site-gray);
    letter-spacing: 1.2px;
}

.line1 b {
    color: black;
    font-weight: 600;
}

.titleSection .line2 {
    margin-top: 0.95rem;
    font-size: 12px;
    color: var(--site-gray);
}

.formSection {
    margin: 1.6rem 0 0 0;
    text-align: center;
    /* width: 100%; */
}

.formSection form {
    display: flex;
    flex-direction: column;
    width: 83%;
}

.formSection input[type=email] {
    font-family: 'Libre Franklin', sans-serif;
    width: calc(100% - 46px);

    color: black;
    font-size: 12px;
    font-weight: 300;
    border: 2px solid var(--site-paleBlue);
    padding: 0.55rem 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    text-decoration: none;
    /* cursor: ; */
    border-radius: 32px;
}

.formSection input::placeholder{
    padding-left: 8px;
    color: var(--site-paleBlue);;
}

.formSection button {
    font-family: 'Libre Franklin', sans-serif;
    width: 100%;
    background-color: var(--site-blue);
    color: white;
    font-size: 12px;
    font-weight: 300;
    border: none;
    padding: 0.625rem 0;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 32px;
    box-shadow: 0px 3px 10px 1px var(--site-paleBlue); /* 10px 5px 10px*/

}

.imageSection {
    margin-top: 3.4rem;
    text-align: center;
    width: 95%;
    /* display: flex;
    justify-content: center; */
}

.imageSection img {
    width: 100%;
    /* height: auto; */
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
}
.socialButtonsSection {
    /* margin-top: auto; */
    margin-bottom: 1.35rem;
    font-size: 20px;
}

.socialButtonsSection a {
    color: var(--site-blue);
}

.socialButtonsSection .fa-stack {
    color: rgba(0, 0, 0, 0.03);
    font-size: 15px;
}

.copyright {
    color: var(--site-gray);
    font-size: 10px;
    text-align: center;
    margin-bottom: 1.15rem;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */
.attribution { font-size: 11px; text-align: center; }
.attribution a i { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 600px) {
    /* body {
        width: 90%;
        align-content: center;
        align-items: center;
    }  */
    .flexContainer {
        /* text-align: center;
        width: 50vw; */
        /* max-width: 85%; */
        width: 90vw;
        height: 100vh;
    }

    /* .formSection form {
    } */

    .formSection button {
        margin-top: 0.45rem;
    }
}

@media screen and (min-width: 600px) {
    .flexContainer {
        width: 50vw;
        height: 100vh;

        margin-top: 4.3rem;
    }

    .logoSection img {
        width: 100%;
    }

    .titleSection {
        margin-top: 2.5rem;
    }
    
    .titleSection .line1 {
        font-weight: 300;
        letter-spacing: 1.3px;
        font-size: 45px;
    }
    
    .line1 b {
        font-weight: 700;
    }
    
    .titleSection .line2 {
        margin-top: 0.95rem;
        font-size: 20px;
        font-weight: 600;
    }
    

    .formSection {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .formSection form {
        flex-direction: row;
        width: 88%;
    }

    .formSection input[type=email] {
        flex-basis: 66%;

        width: calc(100% - 46px);
        font-size: 17px;
        font-weight: 300;
        border: 2px solid var(--site-paleBlue);
        padding: 0.8rem 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .formSection button {
        margin-left: 1rem;
        flex-basis: 34%;

        font-size: 17px;
        font-weight: 300;

        padding: 0.8rem 0;
        box-shadow: 0px 3px 10px 1px var(--site-paleBlue); /* 10px 5px 10px*/
    }
        
    .imageSection {
        margin-top: 4.3rem;
        width: 89%;
    }
    
    .socialButtonsSection {
        margin-bottom: 1.35rem;
        font-size: 20px;
    }
    
    .socialButtonsSection .fa-stack {
        font-size: 15px;
    }
    
    .copyright {
        font-size: 12px;
        margin-bottom: 1.75rem;
    }
    
}