body {
	color: var(--wenge-brown);
	background-color: var(--eggshell);
}

article {
	background-color: var(--white);
	h1 {
		color: var(--dark-charcoal);
	}

	h2 {
		color: var(--brandy-red);
	}

	h3 {
		color: var(--dark-raspberry);
	}

	li:before {
		color: var(--brandy-red);
	}

	hr {
		height: 1px;
		color: var(--white-coffee);
	}

	.preparation {
		background-color: var(--snow);
	}
}
