---
title: Oops! Page Not Found
layout: base
permalink: /404.html
css: ["/css/error.css"]
---

<div class="error404">
    <img class="logo" src="/svgs/purple_fedora.svg" alt="Image of a Purple Fedora" aria-hidden="true">
    <p>
        Apologies, nothing to see here. Maybe try the <a href="/">main page</a>
    </p>
</div>