<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Going Beyond Static Sites With Eleventy</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Going Beyond Static Sites With Eleventy</h1>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>