{# {% if cssReset %}
    <link rel="stylesheet" href="/FrontendMentor/reset.css"/>
{% endif %}

<link rel="stylesheet" href="/css/header.css"/>
<link rel="stylesheet" href="/css/footer.css"/>

{% if css %}
    {% for link in css %}
        <link rel="stylesheet" href="{{link}}"/>
    {% endfor %}
{% endif %} #}

{% set myCss %}
    {% if cssReset %}
      {% include "../../../projects/FrontendMentor/reset.css" %}
    {% endif %}

  {% include "../../css/header.css" %}
  {% include "../../css/footer.css" %}

  {% if css %}
    {% for link in css %}
        {% include "../../" + link %}/>
    {% endfor %}
  {% endif %}

{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ myCss | cssmin | safe }}
</style>